<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            label.required:after {
                content: " *";
                color: red;
            }
            input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type="number"] {
                -moz-appearance: textfield;
            }

            .thead-light {
              background-color: rgba(0,0,0, 0.3);
            }

            .red, .form-error li {
                color: red !important;
            }
            .blue {
                color: blue;
            }
            .bg-gray {
                background-color: #cccccc;
            }
            .p-5 {
                padding: 15px;
            }
            form .row,
            .form-group {
                margin-top: 15px;
            }
            .d-none {
                display: none;
            }
        </style>
        <script>
            // navbar show active
            $(document).ready(function () {
                $("nav a[href='"+window.location+"'").closest('li').addClass("active");
            })
        </script>
    </head>
    <body>
        <div class="container">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url('invoice/list') }}">Számlázási címeim</a></li>
                        <li><a href="{{ url('order') }}">Megrendelés</a></li>
                        <li><a href="{{ url('order/list') }}">Megrendelések listázása</a></li>
                    </ul>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
