{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#menu1">Számlázási címeim</a></li>
            <li><a data-toggle="tab" href="#menu2">Megrendelés</a></li>
            <li><a data-toggle="tab" href="#menu3">megrendelések listázása</a></li>
        </ul>

        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
                <div class="row">
                    <div class="col">

                    </div>
                </div>

                {{ form_start(form) }}
                    {{ form_widget(form) }}

                    {% if editMode is defined and editMode == true %}
                        <div class="text-center p-5">
                            <button class="btn btn-success" type="submit">MÓDOSÍTÁSOK MENTÉSE</button>
                            <a class="btn btn-danger btn-cancel" data-url="{{ url('invoices-list') }}" type="submit">MÉGSE</a>
                        </div>
                    {%  else %}
                        <div class="text-center p-5">
                            <button class="btn btn-danger" type="submit">ÚJ CÍM FELVÉTELE</button>
                        </div>
                    {% endif %}
                {{ form_end(form) }}

                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Típus</th>
                                <th scope="col">Név</th>
                                <th scope="col">Telefonszám</th>
                                <th scope="col">Adószám</th>
                                <th scope="col">Ország</th>
                                <th scope="col">Irányítószám</th>
                                <th scope="col">Város</th>
                                <th scope="col">Utca</th>
                                <th scope="col">Műveletek</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoices %}
                                    <tr>
                                        <td>{{ types[invoice.type] }}</td>
                                        <td>{{ invoice.name }}</td>
                                        <td>{{ invoice.phoneNumber }}</td>
                                        <td>{{ invoice.taxNumber }}</td>
                                        <td>{{ invoice.country }}</td>
                                        <td>{{ invoice.zipCode }}</td>
                                        <td>{{ invoice.city }}</td>
                                        <td>{{ invoice.streetAndNumber }}</td>
                                        <td>
                                            <a href="{{ url('invoice-edit', {'id': invoice.id} ) }}"><i class="fa fa-2x fa-pencil blue"></i></a>
                                            <a href="{{ url('invoice-delete', {'id': invoice.id} ) }}"><i class="fa fa-2x fa-trash red"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
		// A $( document ).ready() block.
		$( document ).ready(function() {
            // cancel redirect to its url
			$(".btn-cancel").on('click', function (e) {
				e.preventDefault();

				window.location.href = $(this).data("url");
            })

            // check values before form submit
            $("form").submit(function (e) {
                e.preventDefault();

                //////// check all input value by type ////////
                let typeCheck = true;
                $('input').each(function () {
                	let el = $(this);
                	let required = el.attr('required');
                	let val = el.val();
                	switch (el.attr('type')) {
                		case 'number':
                			if (val.length && isNaN(val)) {
                                typeCheck = false;
                            }
                			break;
                    }
                })

                // not valid type
                if (!typeCheck) {

                }
            });
		});
    </script>
{% endblock %}
